/*
 * Drawing canvas
 */
 
 .drawing-canvas {
   background-color: transparent;
 }
 
 .canvas-wrapper {
  z-index: 0;
  width: 900px;
  height: 500px;
  overflow-y: scroll;
  padding-top: 10px;
  position: relative;
  top: 30px;
}

#mainCanvas {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 1px solid black;
}

.code-wrapper {
    z-index: 0;
    width: 900px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.3em;
}

#codeBlock {
    font-size: 1.3em;
}

#codeWrapper {
    visibility: hidden;
    width: 800px;
    height: 975px;
}

#mainCanvas {
    visibility: hidden;
}

#inputField {
    width: 900px;
    height: 975px;
    color: black;
    resize: none;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 2;
}

#nextButton {
    left: 800px;
    top: 540px;
    position: absolute;
    z-index: 3;
}

#backButton {
    left: 800px;
    top: 540px;
    position: absolute;
    z-index: 3;
    visibility: hidden;
}

#spanUp {
    left: 893px;
    top: 100px;
    position: absolute;
    z-index: 3;
    color: hotpink;
    visibility: hidden;

}

#spanDown {
    left: 893px;
    top: 555px;
    position: absolute;
    z-index: 3;
    color: hotpink;
    visibility: hidden;

}

.glyphicon-chevron-up{
    font-size: 30px;
}

 .glyphicon-chevron-down {
     font-size: 30px;
 }


#signInButton {
    visibility: hidden;
}

#codeBlock {
    min-height: 500px;
}

input {
    color: black;
}

body {
    /*-webkit-touch-callout: none !important;
    -webkit-user-select: none; 
    -ms-user-select: none;*/
}