/*
 * Drawing canvas
 */
 
 .drawing-canvas {
   background-color: transparent;
 }
 
 .canvas-wrapper {
  z-index: 0;
  width: 100%;
  height: 550px;
  overflow-y: scroll;
  padding-top: 10px;
  position: relative;
}

#mainCanvas {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 1px solid black;
}

.code-wrapper {
    z-index: 0;
    width: 900px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#codeWrapper {
    visibility: hidden;
    width: 900px;
    height: 975px;
}

#mainCanvas {
    visibility: hidden;
}

#inputField {
    width: 900px;
    height: 975px;
    color: black;
    resize: none;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 2;
}

#nextButton {
    left: 850px;
    top: 615px;
    position: absolute;
    z-index: 3;
}

#backButton {
    left: 775px;
    top: 615px;
    position: absolute;
    z-index: 3;
    visibility: hidden;
}


#signInButton {
    visibility: hidden;
}

#codeBlock {
    min-height: 550px;
}

input {
    color: black;
}

body {
    /*-webkit-touch-callout: none !important;
    -webkit-user-select: none; 
    -ms-user-select: none;*/
}